<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Search Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div style="height: 100%;">
        <nav class="header-container">
            <div class="header-left" style="color: rgb(1, 1, 206);">
                <ul>
                    <li><a href="/">People</a></li>
                    <li><a href="/company">Companies</a></li>

                </ul>
                <button style="border: none; background:none; color: rgb(3, 3, 193);">Clear All</button>
            </div>
            <div class="header-right">
                <div class="top-bar">
                    <input type="checkbox" class="top-item">
                    <select style="border: none;" name="select" class="top-item"></select>
                    <button style="border: none; background:none;" class="top-item">0 Selected</button>
                    <button class="save-button top-item"><span><i class="fa-solid fa-plus"></i></span> Save</button>
                    <button class="top-item" style="border-radius: 5px; border:1px solid rgb(211, 210, 210); background: none; padding: 3px 10px;"><span><i class="fa-regular fa-paper-plane"></i></span> Email Campaign</button>
                    <button class="top-item" style="border-radius: 5px; border:1px solid gray; background: none; padding: 3px 10px;"><span><i class="fa-solid fa-download"></i></span> Export</button>
                </div>
                <div style="display: flex; align-items: center;">
                    <span>1 - 24 of 10,000 profiles</span>
                    <div class="pagination-button">
                        <span style="border-right: none;"><i class="fa-solid fa-arrow-left"></i></span>
                        <span style="border: 1px solid #ccc;">1 <span><i class="fa-solid fa-angle-down"></i></span></span>
                        <span style="border-left: none;"><i class="fa-solid fa-arrow-right"></i></span>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <form action="/" method="POST">
            <div class="sidebar" style="height: 100vh;">
                <div style="overflow-y: auto; overflow-x: hidden; height: 75vh;">
                    <label for="">Name</label>
                    <input type="text" placeholder="Name" class="input">
                    <label for="" style="display: flex; justify-content: space-between;">
                        <span>Job Title <i class="fa-regular fa-circle-question"></i></span>
                        <select style="border: none; background: none;">
                            <option>Current</option>
                        </select>
                    </label>
                    <input type="text" placeholder="Enter Job title or boolean query" class="input">
                    <div class="checkboxes">
                        <label><input type="checkbox"> Include related titles</label>
                        <label><input type="checkbox"> Exclude job titles <select style="border: none; background: none;"></select></label>
                    </div>
                    <label for="" style="display: flex; justify-content: space-between;">
                        <span>Seniority</span>
                        <select style="border: none; background: none;">
                            <option>Current</option>
                        </select>
                    </label>
                    <select class="input2">
                        <option>Select seniority level</option>
                    </select>
                    <label for="">Skills</label>
                    <input type="text" placeholder="e.g., PHP" class="input">
                    <label for="">Years in Current Role</label>
                    <select class="input2">
                        <option>Years in current role</option>
                    </select>
                    <label for="">Total Years of Experience</label>
                    <select class="input2">
                        <option>Total years of experience</option>
                    </select>
                    <label for="">Location <i class="fa-regular fa-circle-question"></i></label>
                    <input type="text" placeholder="e.g., Sydney, Australia" class="input">
                    <input type="text" class="input">
                </div>
                <div style="border-top: 1px solid rgb(192, 189, 189); padding-top: 25px;">
                    <button class="search-button">Search</button>
                    <div style="display: flex; justify-content: space-between; align-items: center; margin: 25px;">
                        <button style="border: none; background: none;"><span><i class="fa-regular fa-bookmark"></i></span> Saved Search <span><i class="fa-solid fa-chevron-down"></i></span></button>
                        <button style="background: none; border-radius:8px; border: 1px solid rgb(199, 197, 197);">Save Search</button>
                    </div>
                </div>
            </form>
            </div>
            <div class="main-content">
                <div class="profiles">
                    {% for person_url, profile in people.items() %}
                    <div class="profile">
                        <div>
                            <div class="profile-header">
                                <input type="checkbox">
                                <div class="profile-initials">{{ profile.get('initials', 'XX') }}</div>
                                <h3>{{ profile.get('full_name', 'No Name') }} | <span><i class="fa-brands fa-linkedin"></i></span> <span><i class="fa-brands fa-github"></i></span> <span><i class="fa-brands fa-twitter"></i></span> | <span>{{ profile.get('location', 'Location not available') }}</span></h3>
                            </div>
                            <div class="details">
                                <p><span><i class="fa-solid fa-briefcase"></i></span> {{ profile.get('title', 'Title not available') }} at <span style="color: rgb(2, 2, 232);">{{ profile.get('company', {}).get('name', 'Company not available') }}</span> in {{ profile.get('experience', 'Experience not available') }}</p>
                                <p><span><i class="fa-solid fa-graduation-cap"></i></span> {{ profile.get('education', 'Education not available') }}</p>
                                <div class="more-container">
                                    <span class="more">...more <i class="fa-solid fa-angle-down"></i></span>
                                    <div class="dropdown-content">
                                        <!-- Content for the dropdown goes here -->
                                        <p><span><i class="fa-solid fa-cogs"></i></span> 
                                        {% if profile.get('skills') %}
                                            {{ profile.get('skills')|join(', ') }}
                                        {% else %}
                                            Skill not available
                                        {% endif %}
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="informations">
                            <div class="info">
                                <p><span><i class="fa-regular fa-envelope"></i></span>{{ profile.contact_info.personal_emails|join(', ') }} <span style="color: green; font-size: small;"><i class="fa-solid fa-circle"></i></span></p>
                                <p><span><i class="fa-solid fa-phone"></i></span> 019*******</p>
                                <button><span><i class="fa-solid fa-wand-magic-sparkles"></i></span> AI Write Personalized Message</button>
                            </div>
                            <div class="profile-actions">
                                <button>View Email</button>
                                <button>Find Phone</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
